In [72]:
import pandas as pd

In [73]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
adf=pd.read_csv('/content/drive/MyDrive/Bluetick.ai/users_activity_log.csv')

In [75]:
adf

,user_id,occurred_at,event_name,os,os_version,device_id
0,4436047,2022-10-04 15:18:11,watchlists,android,12,146
1,905476,2022-08-31 15:19:05,home,windows,10,511
2,5038318,2022-10-10 08:33:38,watchlists,windows,10,512
3,489996,2022-09-09 08:54:41,library,windows,10,511
4,3065600,2022-09-03 17:39:05,settings,windows,10,511
...,...,...,...,...,...,...
368709,5651753,2022-09-27 12:34:21,home,windows,10,512
368710,7962325,2022-09-14 13:46:33,run_query,android,12,220
368711,6411131,2022-09-03 10:40:13,watchlists,ios,12,508
368712,4748781,2022-09-19 04:35:20,library,android,11,400
368713,5426258,2022-09-09 06:38:57,login,windows,10,511

# All Insights are given Considering a sequence of activities done by a user without a 10-minute break between any two activities as one session. If there's a gap of more than 10 minutes between a new activity and previous activity, consider the new activity to be in a new session.

In [76]:


# Converting occurred_at column to datetime
adf['occurred_at'] = pd.to_datetime(adf['occurred_at'], format="%Y-%m-%d %H:%M:%S")

# Sorting the DataFrame by user_id and occurred_at
df = adf.sort_values(['user_id', 'occurred_at'])

# Initializing variables for session tracking
session_start_time = df['occurred_at'].iloc[0]
session_user_id = df['user_id'].iloc[0]

# List to store the sessions
sessions = []

# Iterate through the DataFrame to create sessions which exceds the time limit of 10 minute is cosidered to be a new session
for index, row in df.iterrows():
    if row['user_id'] == session_user_id and (row['occurred_at'] - session_start_time).seconds <= 600:
        continue  # Extend the current session
    else:
        sessions.append((session_user_id, session_start_time, row['occurred_at'],row['event_name'],row['os_version'],row['os'],row['device_id']))
        session_user_id = row['user_id']
        session_start_time = row['occurred_at']

# Append the last session
sessions.append((session_user_id, session_start_time, df['occurred_at'].iloc[-1],df['event_name'].iloc[-1],df['os_version'].iloc[-1],df['os'].iloc[-1],df['device_id'].iloc[-1]))

# Create a new DataFrame with sessions
session_df = pd.DataFrame(sessions, columns=['user_id', 'session_start', 'session_end','event_name','os_version','os','device_id'])

# Display the resulting sessions
session_df

,user_id,session_start,session_end,event_name,os_version,os,device_id
0,9750,2022-08-28 19:16:39,2022-08-30 10:54:50,login,11,android,380
1,9750,2022-08-30 10:54:50,2022-09-05 08:50:01,login,11,android,380
2,9750,2022-09-05 08:50:01,2022-09-05 14:12:02,login,11,android,380
3,9750,2022-09-05 14:12:02,2022-09-08 15:01:53,login,11,android,380
4,9750,2022-09-08 15:01:53,2022-09-10 08:50:15,login,11,android,380
...,...,...,...,...,...,...,...
39970,10013277,2022-10-07 13:39:47,2022-09-04 07:56:44,login,14,ios,503
39971,10013985,2022-09-04 07:56:44,2022-09-06 17:55:09,login,14,ios,503
39972,10013985,2022-09-06 17:55:09,2022-09-12 16:38:45,login,10,windows,512
39973,10013985,2022-09-12 16:38:45,2022-09-25 07:55:29,login,14,ios,503
39974,10013985,2022-09-25 07:55:29,2022-09-25 07:58:24,home,14,ios,503

In [77]:
#Counting the number of session of search happened
no_session_df=session_df.groupby('event_name').count()
no_session_df

,user_id,session_start,session_end,os_version,os,device_id
event_name,,,,,,
autocomplete_engine,5,5,5,5,5,5
home,164,164,164,164,164,164
library,106,106,106,106,106,106
login,35836,35836,35836,35836,35836,35836
query_result_0,239,239,239,239,239,239
query_result_1,2,2,2,2,2,2
query_result_10,2,2,2,2,2,2
query_result_2,3,3,3,3,3,3
query_result_3,4,4,4,4,4,4
query_result_4,6,6,6,6,6,6
query_result_5,5,5,5,5,5,5
query_result_6,5,5,5,5,5,5
query_result_7,4,4,4,4,4,4
query_result_8,2,2,2,2,2,2
query_result_9,1,1,1,1,1,1
run_query,3442,3442,3442,3442,3442,3442
settings,47,47,47,47,47,47
watchlists,102,102,102,102,102,102

In [78]:
#As run_query means the search button is clicked means the count of run_query will be the number of sessions involving the search operation and the autocomplete_engine is also a search events
#So the percentage of session is searched used is
perc=((39975-(47+102+35836+106+164))/39975)*100
print(perc)

9.305816135084429

In [79]:
#Total no of searches:=3720
#Total no of Non successfull searches are the count of query_result_0
#percentage of successfull searches are

print(((3720-239)/3720)*100)

#93% peoples are able to find the search for they are searching

93.5752688172043

In [80]:
# Define the input data as a dictionary
query_results = {
    'query_result_0': 239,
    'query_result_1': 2,
    'query_result_2': 3,
    'query_result_3': 4,
    'query_result_4': 6,
    'query_result_5': 5,
    'query_result_6': 5,
    'query_result_7': 4,
    'query_result_8': 2,
    'query_result_9': 1,
    'query_result_10': 2
}

# Sort the dictionary by values in descending order
sorted_results = dict(sorted(query_results.items(), key=lambda item: item[1], reverse=True))

# Get the top 5 values
top_5 = list(sorted_results.items())[:5]

# Print the top 5 values
for key, value in top_5:
    print(f'{key}: {value}')

query_result_0: 239
query_result_4: 6
query_result_5: 5
query_result_6: 5
query_result_3: 4

As we can say that peoples have to scroll down a bit to get the desired result as the query_result_4,query_result_5,query_result_6,query_result_3 are the most selected search results among the all sesions. So the algorithm need to be refined for better searching experience.

In [81]:
no_session_df.loc['query_result_0']

user_id          239
session_start    239
session_end      239
os_version       239
os               239
device_id        239
Name: query_result_0, dtype: int64

According the output we can see 239 times the users have to search again as the did not get the desired result and gets the error message  which means that the search button is not working that well.

In [82]:
#set display option to show maximum number of rows
grouped_data = session_df.groupby(['event_name', 'os_version']).count()
pd.set_option('display.max_rows', None)
(grouped_data)

                                user_id  session_start  session_end     os  \
event_name          os_version
autocomplete_engine 10                4              4            4      4
                    12                1              1            1      1
home                8                 1              1            1      1
                    9                 4              4            4      4
                    10               53             53           53     53
                    11               11             11           11     11
                    12               63             63           63     63
                    13               10             10           10     10
                    14                8              8            8      8
                    15               14             14           14     14
library             8                 1              1            1      1
                    9                 1              1            1      1
                    10               34             34           34     34
                    11                7              7            7      7
                    12               46             46           46     46
                    13                8              8            8      8
                    14                3              3            3      3
                    15                6              6            6      6
login               7                43             43           43     43
                    8               349            349          349    349
                    9               741            741          741    741
                    10            11205          11205        11205  11205
                    11             3046           3046         3046   3046
                    12            14780          14780        14780  14780
                    13             1623           1623         1623   1623
                    14             2074           2074         2074   2074
                    15             1975           1975         1975   1975
query_result_0      12              239            239          239    239
query_result_1      10                1              1            1      1
                    12                1              1            1      1
query_result_10     10                1              1            1      1
                    12                1              1            1      1
query_result_2      10                1              1            1      1
                    12                2              2            2      2
query_result_3      12                3              3            3      3
                    14                1              1            1      1
query_result_4      12                4              4            4      4
                    15                2              2            2      2
query_result_5      10                2              2            2      2
                    11                1              1            1      1
                    12                2              2            2      2
query_result_6      10                1              1            1      1
                    12                3              3            3      3
                    14                1              1            1      1
query_result_7      10                1              1            1      1
                    12                1              1            1      1
                    13                1              1            1      1
                    15                1              1            1      1
query_result_8      12                2              2            2      2
query_result_9      15                1              1            1      1
run_query           10                1              1            1      1
                    12             3439           3439         3439   3439
                    13                1              1            1      1
                    15                1              1            1      1
settings            9                 1              1            1      1
                    10               18             18           18     18
                    11                1              1            1      1
                    12               15             15           15     15
                    13                2              2            2      2
                    14                4              4            4      4
                    15                6              6            6      6
watchlists          9                 1              1            1      1
                    10               33             33           33     33
                    11                8              8            8      8
                    12               46             46           46     46
                    13                4              4            4      4
                    14                5              5            5      5
                    15                5              5            5      5

                                device_id
event_name          os_version
autocomplete_engine 10                  4
                    12                  1
home                8                   1
                    9                   4
                    10                 53
                    11                 11
                    12                 63
                    13                 10
                    14                  8
                    15                 14
library             8                   1
                    9                   1
                    10                 34
                    11                  7
                    12                 46
                    13                  8
                    14                  3
                    15                  6
login               7                  43
                    8                 349
                    9                 741
                    10              11205
                    11               3046
                    12              14780
                    13               1623
                    14               2074
                    15               1975
query_result_0      12                239
query_result_1      10                  1
                    12                  1
query_result_10     10                  1
                    12                  1
query_result_2      10                  1
                    12                  2
query_result_3      12                  3
                    14                  1
query_result_4      12                  4
                    15                  2
query_result_5      10                  2
                    11                  1
                    12                  2
query_result_6      10                  1
                    12                  3
                    14                  1
query_result_7      10                  1
                    12                  1
                    13                  1
                    15                  1
query_result_8      12                  2
query_result_9      15                  1
run_query           10                  1
                    12               3439
                    13                  1
                    15                  1
settings            9                   1
                    10                 18
                    11                  1
                    12                 15
                    13                  2
                    14                  4
                    15                  6
watchlists          9                   1
                    10                 33
                    11                  8
                    12                 46
                    13                  4
                    14                  5
                    15                  5

From above result we can see that the OS version 12 is showing error message after searching anything.

In [96]:
#Reset the display option to default

session_df[['os_version','os','device_id']]

       os_version       os  device_id
0              11  android        380
1              11  android        380
2              11  android        380
3              11  android        380
4              11  android        380
...           ...      ...        ...
39970          14      ios        503
39971          14      ios        503
39972          10  windows        512
39973          14      ios        503
39974          14      ios        503

[39975 rows x 3 columns]

In [101]:
#Finding rows which have os version as 12 and event name as query_result_0
version_12 = session_df[ (session_df['os_version'] == 12)&(session_df['event_name']=='query_result_0')]
pd.set_option('display.max_rows', None)

In [102]:
version_12

,user_id,session_start,session_end,event_name,os_version,os,device_id
29,21504,2022-09-13 12:39:19,2022-09-13 13:52:37,query_result_0,12,android,456
38,23857,2022-10-15 14:53:43,2022-10-15 16:05:18,query_result_0,12,android,335
194,83466,2022-09-24 11:37:50,2022-09-26 07:53:20,query_result_0,12,android,87
434,157613,2022-09-11 06:50:00,2022-09-11 08:04:19,query_result_0,12,android,276
560,189005,2022-09-10 16:53:47,2022-09-10 18:08:19,query_result_0,12,android,241
561,189005,2022-09-10 18:08:19,2022-09-12 15:44:40,query_result_0,12,android,241
683,205925,2022-09-06 14:02:59,2022-09-06 15:15:41,query_result_0,12,android,456
704,212426,2022-09-30 11:45:09,2022-08-28 13:14:47,query_result_0,12,android,63
831,256748,2022-09-12 00:52:07,2022-08-27 07:21:19,query_result_0,12,android,276
906,268776,2022-09-16 21:57:51,2022-09-18 23:11:50,query_result_0,12,android,78
1191,309587,2022-09-26 09:06:26,2022-09-19 07:39:33,query_result_0,12,android,87
1281,342110,2022-10-09 18:13:00,2022-10-09 19:25:05,query_result_0,12,android,361
1347,358952,2022-09-16 14:03:53,2022-09-03 10:25:25,query_result_0,12,android,456
1436,375746,2022-09-14 06:25:14,2022-09-14 07:36:56,query_result_0,12,android,241
1694,454805,2022-09-07 07:50:48,2022-09-08 13:47:25,query_result_0,12,android,63
1743,456815,2022-09-14 17:15:59,2022-09-14 18:34:30,query_result_0,12,android,233
1784,469066,2022-08-30 08:49:38,2022-09-09 05:20:21,query_result_0,12,android,475
2258,592528,2022-08-30 09:37:26,2022-08-30 10:49:22,query_result_0,12,android,233
2385,624345,2022-09-23 11:01:44,2022-09-23 12:16:17,query_result_0,12,android,3
2441,643772,2022-09-04 07:03:48,2022-09-04 08:15:19,query_result_0,12,android,78
2580,677567,2022-09-09 02:28:01,2022-09-10 00:34:27,query_result_0,12,android,310
2831,745454,2022-08-28 11:38:51,2022-08-28 12:50:28,query_result_0,12,android,63
2886,763469,2022-09-18 19:32:09,2022-09-18 19:50:37,query_result_0,12,android,3
3272,845830,2022-09-13 16:01:26,2022-09-13 17:15:59,query_result_0,12,android,159
3538,907150,2022-09-05 13:57:02,2022-09-05 15:08:35,query_result_0,12,android,361
3969,1026822,2022-09-07 14:21:56,2022-09-07 15:38:06,query_result_0,12,android,345
4178,1086039,2022-09-25 09:08:31,2022-09-30 10:14:28,query_result_0,12,android,349
4376,1123603,2022-08-29 08:50:00,2022-09-06 12:44:53,query_result_0,12,android,298
4773,1185094,2022-09-11 11:21:38,2022-09-12 05:48:11,query_result_0,12,android,475
4806,1185094,2022-09-24 08:49:48,2022-09-25 11:04:56,query_result_0,12,android,475
5044,1257795,2022-08-30 14:51:38,2022-09-07 15:39:22,query_result_0,12,android,256
5162,1278116,2022-10-07 12:03:42,2022-10-07 13:17:57,query_result_0,12,android,42
5286,1310339,2022-09-16 13:29:34,2022-09-18 12:20:37,query_result_0,12,android,241
5628,1400198,2022-09-23 13:23:19,2022-08-30 07:39:38,query_result_0,12,android,298
5774,1451496,2022-09-17 16:08:30,2022-09-17 17:20:40,query_result_0,12,android,42
5857,1485559,2022-09-12 18:01:43,2022-09-13 11:42:38,query_result_0,12,android,159
5911,1502798,2022-09-12 09:07:24,2022-09-12 09:58:24,query_result_0,12,android,78
6423,1641396,2022-09-04 08:49:41,2022-09-09 08:19:54,query_result_0,12,android,220
6743,1716498,2022-08-29 15:29:58,2022-08-29 16:43:34,query_result_0,12,android,310
6893,1751843,2022-09-18 13:09:59,2022-09-19 11:12:41,query_result_0,12,android,105
6972,1768195,2022-09-16 07:22:41,2022-09-18 06:13:34,query_result_0,12,android,475
7029,1778908,2022-10-02 08:49:08,2022-10-04 06:47:47,query_result_0,12,android,335
7102,1799053,2022-09-21 16:23:42,2022-09-26 07:39:14,query_result_0,12,android,63
7105,1799053,2022-09-27 16:12:06,2022-09-27 17:25:33,query_result_0,12,android,63
7286,1831466,2022-09-07 17:12:52,2022-09-07 18:24:02,query_result_0,12,android,361
7351,1856499,2022-08-28 15:57:55,2022-08-28 17:11:51,query_result_0,12,android,475
7481,1877113,2022-09-19 13:17:49,2022-09-20 15:37:56,query_result_0,12,android,303
7559,1907783,2022-09-02 12:34:37,2022-09-02 13:48:46,query_result_0,12,android,349
7588,1916606,2022-08-28 12:10:18,2022-09-03 13:24:59,query_result_0,12,android,276
7595,1916606,2022-09-21 15:20:27,2022-09-30 07:39:38,query_result_0,12,android,276
7705,1932462,2022-10-04 14:42:35,2022-10-04 14:52:41,query_result_0,12,android,276
7885,1981005,2022-09-09 15:08:30,2022-09-09 16:02:13,query_result_0,12,android,349
8026,2015793,2022-09-15 00:11:01,2022-09-15 01:28:45,query_result_0,12,android,3
8202,2060723,2022-10-11 14:33:58,2022-08-28 15:08:45,query_result_0,12,android,63
8212,2060894,2022-09-18 08:49:52,2022-09-25 07:39:20,query_result_0,12,android,63
8327,2112561,2022-08-24 20:30:24,2022-08-24 21:42:52,query_result_0,12,android,105
8577,2183502,2022-09-18 10:57:55,2022-09-18 12:12:10,query_result_0,12,android,335
8753,2236503,2022-09-25 08:16:27,2022-09-25 09:30:34,query_result_0,12,android,345
8920,2280191,2022-09-23 10:45:14,2022-09-24 10:31:59,query_result_0,12,android,220
9624,2473253,2022-09-12 06:20:12,2022-09-12 07:38:31,query_result_0,12,android,63
9646,2473610,2022-10-11 18:09:28,2022-08-24 08:08:30,query_result_0,12,android,3
9671,2473844,2022-10-10 06:36:56,2022-10-10 07:48:39,query_result_0,12,android,3
10056,2574356,2022-09-24 14:57:11,2022-08-28 13:40:44,query_result_0,12,android,220
10175,2612546,2022-09-11 08:49:35,2022-09-12 17:06:49,query_result_0,12,android,87
10209,2628683,2022-09-02 15:46:06,2022-09-02 16:57:28,query_result_0,12,android,475
10871,2803846,2022-09-13 13:30:48,2022-09-15 12:21:28,query_result_0,12,android,276
10888,2804680,2022-09-18 13:08:07,2022-09-18 14:22:53,query_result_0,12,android,105
11137,2871669,2022-10-04 14:32:20,2022-08-28 07:39:45,query_result_0,12,android,316
11255,2882641,2022-09-16 14:32:24,2022-09-18 07:22:29,query_result_0,12,android,454
11267,2882641,2022-10-07 14:50:13,2022-10-07 16:02:20,query_result_0,12,android,454
11269,2882641,2022-10-15 08:31:40,2022-08-30 07:05:27,query_result_0,12,android,298
11367,2900672,2022-09-21 09:34:02,2022-09-23 07:39:41,query_result_0,12,android,220
11735,3003894,2022-09-28 13:00:35,2022-09-30 23:25:22,query_result_0,12,android,241
11967,3083837,2022-09-10 20:17:16,2022-09-11 12:37:25,query_result_0,12,android,220
11980,3083837,2022-10-09 08:49:49,2022-10-13 10:32:53,query_result_0,12,android,220
12319,3201649,2022-09-09 18:13:23,2022-09-09 19:31:02,query_result_0,12,android,105
12544,3254323,2022-09-01 08:50:03,2022-09-01 10:03:41,query_result_0,12,android,233
12779,3310958,2022-09-25 09:24:56,2022-09-25 10:36:51,query_result_0,12,android,298
13016,3379373,2022-08-28 11:14:43,2022-08-28 12:27:07,query_result_0,12,android,233
13550,3496722,2022-08-29 09:48:41,2022-08-29 11:01:26,query_result_0,12,android,3
13586,3507532,2022-09-19 13:50:07,2022-09-26 07:39:30,query_result_0,12,android,233
13668,3517860,2022-09-28 17:31:44,2022-10-05 12:04:30,query_result_0,12,android,256
14433,3733652,2022-09-08 12:06:14,2022-09-08 13:19:14,query_result_0,12,android,233
14630,3786042,2022-09-24 19:42:03,2022-09-24 20:55:01,query_result_0,12,android,348
15242,3946415,2022-09-22 15:51:18,2022-08-29 07:39:42,query_result_0,12,android,310
15258,3948153,2022-09-15 23:48:18,2022-08-31 15:09:29,query_result_0,12,android,316
15264,3948777,2022-08-31 09:57:20,2022-09-01 06:44:25,query_result_0,12,android,256
15356,3966437,2022-09-03 06:41:37,2022-09-07 08:01:34,query_result_0,12,android,335
15375,3971211,2022-09-13 15:39:15,2022-09-16 10:20:09,query_result_0,12,android,256
15604,4062624,2022-08-25 07:02:53,2022-08-31 10:54:14,query_result_0,12,android,276
15882,4134050,2022-09-19 08:49:46,2022-09-19 13:17:20,query_result_0,12,android,475
15971,4149434,2022-08-24 14:03:43,2022-08-30 15:21:52,query_result_0,12,android,105
16058,4162276,2022-09-12 11:30:20,2022-09-12 12:48:04,query_result_0,12,android,335
16195,4199987,2022-09-12 15:26:17,2022-09-12 20:20:29,query_result_0,12,android,256
16596,4292290,2022-09-18 09:20:33,2022-10-13 15:25:53,query_result_0,12,android,475
16609,4294548,2022-09-11 08:49:45,2022-09-16 07:39:28,query_result_0,12,android,159
16627,4300502,2022-09-09 18:26:17,2022-09-11 06:22:51,query_result_0,12,android,3
16919,4371317,2022-09-10 11:35:11,2022-09-10 12:46:31,query_result_0,12,android,361
17375,4479378,2022-10-01 07:58:09,2022-10-03 13:14:16,query_result_0,12,android,233
17397,4488530,2022-09-01 08:30:45,2022-09-01 09:48:32,query_result_0,12,android,454
17773,4566857,2022-09-20 08:49:52,2022-09-20 10:03:13,query_result_0,12,android,303
17846,4581997,2022-09-13 17:39:58,2022-09-17 13:30:33,query_result_0,12,android,241
17940,4596609,2022-09-11 12:08:45,2022-09-17 10:59:36,query_result_0,12,android,256
18202,4671090,2022-10-13 08:52:22,2022-10-13 10:06:05,query_result_0,12,android,276
18264,4689344,2022-09-05 04:01:16,2022-09-05 05:14:06,query_result_0,12,android,475
18331,4691061,2022-09-27 07:17:06,2022-10-07 16:54:53,query_result_0,12,android,105
18366,4712394,2022-09-06 08:56:50,2022-09-13 15:32:34,query_result_0,12,android,335
18369,4712394,2022-09-22 17:38:47,2022-09-22 18:52:23,query_result_0,12,android,335
18414,4729933,2022-08-24 12:08:27,2022-09-13 07:39:29,query_result_0,12,android,87
18438,4741797,2022-09-20 17:06:53,2022-09-22 07:44:13,query_result_0,12,android,303
18963,4870005,2022-09-01 08:49:50,2022-09-20 14:28:05,query_result_0,12,android,105
18991,4887669,2022-08-28 08:49:44,2022-08-28 10:03:29,query_result_0,12,android,3
19003,4887669,2022-09-11 08:50:00,2022-09-11 10:01:36,query_result_0,12,android,3
19386,4985311,2022-09-09 15:39:57,2022-09-12 12:14:58,query_result_0,12,android,345
19605,5053167,2022-09-18 11:12:06,2022-09-18 12:23:15,query_result_0,12,android,329
19779,5114523,2022-09-05 08:46:16,2022-09-05 10:00:19,query_result_0,12,android,256
19857,5131433,2022-09-15 11:31:12,2022-09-16 07:54:36,query_result_0,12,android,298
19905,5146878,2022-09-14 17:32:01,2022-09-23 13:53:14,query_result_0,12,android,87
20025,5184081,2022-09-01 17:00:45,2022-09-03 06:27:43,query_result_0,12,android,303
20290,5257460,2022-09-17 08:38:17,2022-09-18 17:53:58,query_result_0,12,android,241
20469,5302227,2022-09-21 07:00:56,2022-09-24 07:39:31,query_result_0,12,android,78
20675,5356990,2022-09-24 12:05:00,2022-09-03 16:02:58,query_result_0,12,android,349
20684,5359112,2022-08-24 18:10:06,2022-08-24 19:21:22,query_result_0,12,android,241
20758,5374772,2022-09-18 11:31:46,2022-09-20 10:59:06,query_result_0,12,android,298
20815,5385157,2022-09-04 15:46:49,2022-09-05 03:53:52,query_result_0,12,android,82
21089,5465854,2022-09-07 10:10:43,2022-09-03 13:04:57,query_result_0,12,android,105
21504,5588211,2022-09-06 11:42:09,2022-09-13 07:39:29,query_result_0,12,android,63
21510,5590668,2022-08-25 08:50:03,2022-08-25 11:27:15,query_result_0,12,android,3
21515,5590668,2022-08-31 18:55:04,2022-08-31 20:06:39,query_result_0,12,android,3
21542,5598809,2022-09-19 08:50:08,2022-09-19 10:02:34,query_result_0,12,android,276
21670,5618755,2022-09-03 13:51:19,2022-09-04 12:48:05,query_result_0,12,android,348
21784,5651753,2022-10-08 16:11:18,2022-10-08 17:26:27,query_result_0,12,android,361
22036,5698577,2022-10-15 14:44:29,2022-09-01 07:39:33,query_result_0,12,android,349
22144,5714985,2022-09-13 15:57:19,2022-09-16 05:14:47,query_result_0,12,android,310
22620,5805761,2022-09-13 08:49:57,2022-09-13 10:03:06,query_result_0,12,android,361
22702,5814510,2022-09-24 08:40:59,2022-09-24 09:53:55,query_result_0,12,android,298
23360,5970136,2022-09-06 15:56:37,2022-09-13 15:42:03,query_result_0,12,android,105
23564,6001640,2022-09-11 13:47:28,2022-09-11 15:04:59,query_result_0,12,android,276
23663,6021647,2022-09-18 11:27:34,2022-09-02 11:13:37,query_result_0,12,android,475
23902,6091777,2022-08-29 06:50:37,2022-09-02 09:08:46,query_result_0,12,android,316
23948,6101151,2022-08-24 17:39:09,2022-08-24 18:52:49,query_result_0,12,android,298
23975,6105150,2022-09-03 08:50:06,2022-09-03 10:04:04,query_result_0,12,android,82
24151,6121736,2022-09-16 15:28:54,2022-09-18 23:52:02,query_result_0,12,android,475
24219,6153436,2022-09-11 18:57:42,2022-09-11 20:11:48,query_result_0,12,android,329
24487,6224285,2022-09-10 11:04:27,2022-09-10 12:15:25,query_result_0,12,android,345
24782,6286442,2022-09-17 12:38:20,2022-09-17 13:50:15,query_result_0,12,android,310
25101,6349544,2022-09-07 15:09:25,2022-09-19 07:39:44,query_result_0,12,android,361
25176,6363013,2022-09-18 11:07:07,2022-09-24 10:19:35,query_result_0,12,android,345
25458,6418743,2022-09-10 13:03:01,2022-09-10 16:39:02,query_result_0,12,android,3
25466,6418743,2022-09-21 13:50:53,2022-09-21 15:04:34,query_result_0,12,android,3
25713,6465774,2022-08-30 08:50:02,2022-08-30 10:03:52,query_result_0,12,android,335
25742,6474502,2022-09-17 17:50:25,2022-09-01 07:39:29,query_result_0,12,android,159
25750,6479840,2022-09-09 04:02:06,2022-09-09 05:13:04,query_result_0,12,android,256
26883,6804569,2022-09-01 08:50:08,2022-09-01 10:03:09,query_result_0,12,android,456
26900,6804569,2022-09-20 07:10:21,2022-09-20 08:24:18,query_result_0,12,android,456
27022,6842703,2022-09-19 08:28:35,2022-09-20 14:21:22,query_result_0,12,android,220
27155,6866064,2022-09-13 01:40:42,2022-09-13 11:14:17,query_result_0,12,android,3
27781,6996279,2022-09-23 19:00:45,2022-09-23 20:12:10,query_result_0,12,android,105
27996,7070686,2022-08-29 15:47:48,2022-08-30 03:17:57,query_result_0,12,android,159
28104,7089950,2022-10-12 15:44:55,2022-08-24 09:04:52,query_result_0,12,android,348
28261,7124726,2022-09-07 06:47:53,2022-09-07 07:59:36,query_result_0,12,android,233
28441,7176539,2022-09-04 15:31:32,2022-09-12 07:39:26,query_result_0,12,android,276
28451,7178386,2022-09-11 07:15:30,2022-09-06 11:19:24,query_result_0,12,android,454
28665,7237401,2022-09-04 14:05:26,2022-09-07 10:48:19,query_result_0,12,android,329
28946,7321646,2022-09-13 12:05:44,2022-09-14 02:33:07,query_result_0,12,android,348
29059,7337977,2022-09-21 23:46:39,2022-09-22 01:02:52,query_result_0,12,android,159
29251,7391411,2022-09-23 16:45:58,2022-10-14 07:39:20,query_result_0,12,android,159
29342,7411070,2022-10-14 09:56:41,2022-10-14 11:10:29,query_result_0,12,android,256
29489,7458875,2022-09-13 06:34:42,2022-09-13 07:46:40,query_result_0,12,android,233
29502,7460606,2022-09-17 08:49:53,2022-08-27 04:26:04,query_result_0,12,android,220
29506,7461659,2022-09-02 15:55:53,2022-09-05 13:26:02,query_result_0,12,android,220
29530,7467285,2022-09-04 07:10:39,2022-09-05 07:08:35,query_result_0,12,android,87
29569,7467847,2022-09-21 07:02:22,2022-09-22 10:09:39,query_result_0,12,android,241
29649,7491774,2022-09-18 06:38:32,2022-09-24 07:51:41,query_result_0,12,android,475
29711,7502735,2022-09-16 15:26:54,2022-09-18 16:39:57,query_result_0,12,android,42
29869,7568113,2022-09-06 05:50:28,2022-09-06 07:05:28,query_result_0,12,android,159
30086,7596713,2022-09-21 22:05:25,2022-09-24 09:22:54,query_result_0,12,android,63
30372,7656009,2022-09-13 15:42:37,2022-09-13 16:55:08,query_result_0,12,android,233
31083,7858636,2022-08-29 19:10:42,2022-08-29 20:22:40,query_result_0,12,android,3
31176,7879862,2022-09-24 06:49:10,2022-09-24 08:04:10,query_result_0,12,android,105
31303,7908682,2022-08-25 15:43:08,2022-08-29 17:12:00,query_result_0,12,android,241
31349,7910033,2022-09-11 10:20:47,2022-09-17 08:09:09,query_result_0,12,android,233
31377,7920387,2022-09-08 10:41:53,2022-09-09 07:39:31,query_result_0,12,android,349
31384,7920387,2022-09-12 17:39:49,2022-09-12 18:52:28,query_result_0,12,android,349
31452,7923786,2022-09-17 07:38:14,2022-09-17 08:53:33,query_result_0,12,android,298
31995,8026136,2022-10-13 08:22:43,2022-10-14 06:51:00,query_result_0,12,android,303
32094,8046384,2022-10-15 11:10:41,2022-09-08 09:55:16,query_result_0,12,android,361
32185,8080575,2022-10-15 10:58:37,2022-10-15 13:14:40,query_result_0,12,android,475
32196,8084792,2022-09-13 06:42:36,2022-09-13 08:00:47,query_result_0,12,android,82
32324,8113204,2022-09-11 10:19:02,2022-09-11 11:14:50,query_result_0,12,android,256
32803,8218391,2022-09-13 08:49:31,2022-09-15 10:01:06,query_result_0,12,android,335
32897,8241473,2022-09-01 10:31:28,2022-09-01 11:43:45,query_result_0,12,android,256
33203,8323677,2022-09-13 15:15:22,2022-09-13 16:30:33,query_result_0,12,android,220
33424,8389803,2022-08-25 08:49:59,2022-08-31 12:32:58,query_result_0,12,android,256
33427,8389803,2022-09-09 09:24:14,2022-09-12 11:23:02,query_result_0,12,android,256
33745,8454413,2022-09-12 17:23:44,2022-09-12 18:38:07,query_result_0,12,android,349
34519,8666662,2022-09-11 08:50:10,2022-09-11 10:02:50,query_result_0,12,android,456
34522,8669177,2022-09-18 23:46:49,2022-09-24 07:39:34,query_result_0,12,android,63
34788,8730168,2022-09-18 11:28:05,2022-08-24 10:16:38,query_result_0,12,android,329
34814,8733345,2022-09-13 09:20:08,2022-09-13 10:32:09,query_result_0,12,android,310
34940,8767509,2022-09-12 08:49:42,2022-09-12 10:05:02,query_result_0,12,android,159
35033,8786559,2022-09-18 08:49:43,2022-09-18 10:03:59,query_result_0,12,android,82
35292,8849089,2022-09-16 09:05:36,2022-09-06 07:39:33,query_result_0,12,android,233
35329,8853430,2022-09-17 13:39:02,2022-09-24 12:47:00,query_result_0,12,android,3
35416,8878562,2022-09-22 14:58:07,2022-09-22 16:10:36,query_result_0,12,android,159
35655,8919210,2022-09-08 08:52:00,2022-09-08 10:04:38,query_result_0,12,android,256
35658,8924645,2022-09-09 10:44:21,2022-09-09 11:57:19,query_result_0,12,android,256
35788,8974720,2022-09-18 08:49:55,2022-09-01 10:16:25,query_result_0,12,android,42
36007,9013505,2022-09-11 13:06:38,2022-09-11 14:22:20,query_result_0,12,android,310
36090,9032198,2022-09-19 13:59:05,2022-09-20 14:48:23,query_result_0,12,android,63
36519,9129788,2022-09-22 08:50:00,2022-09-25 09:00:03,query_result_0,12,android,329
36564,9139940,2022-10-04 20:41:52,2022-10-04 21:54:03,query_result_0,12,android,159
36633,9153864,2022-09-02 08:49:49,2022-09-02 10:00:59,query_result_0,12,android,276
36887,9244831,2022-09-04 08:19:28,2022-09-04 09:35:34,query_result_0,12,android,475
37050,9279431,2022-09-20 18:28:02,2022-09-20 19:39:43,query_result_0,12,android,303
37213,9344169,2022-09-11 08:49:49,2022-09-15 10:01:29,query_result_0,12,android,220
37722,9463558,2022-09-23 09:37:23,2022-09-23 10:54:41,query_result_0,12,android,345
37877,9506438,2022-09-18 17:42:28,2022-09-18 17:52:30,query_result_0,12,android,276
37935,9523908,2022-09-07 15:58:31,2022-09-07 17:09:33,query_result_0,12,android,456
38075,9547827,2022-09-15 08:49:45,2022-09-15 10:01:41,query_result_0,12,android,298
38145,9564470,2022-09-01 16:28:47,2022-09-01 17:42:44,query_result_0,12,android,349
38280,9584512,2022-09-13 16:51:49,2022-09-13 18:03:06,query_result_0,12,android,349
38286,9584512,2022-09-16 09:21:04,2022-09-16 10:35:36,query_result_0,12,android,349
38567,9667966,2022-09-24 12:06:13,2022-08-24 15:22:58,query_result_0,12,android,105
38640,9680213,2022-09-19 23:10:11,2022-09-20 05:07:53,query_result_0,12,android,454
38695,9693795,2022-08-24 07:09:41,2022-08-24 08:27:33,query_result_0,12,android,329
38756,9702323,2022-09-09 17:37:17,2022-09-10 07:39:22,query_result_0,12,android,78
38995,9793296,2022-09-22 14:13:15,2022-09-01 09:04:02,query_result_0,12,android,316
39000,9793720,2022-09-06 09:56:03,2022-09-07 16:21:02,query_result_0,12,android,316
39006,9793720,2022-09-19 08:21:46,2022-09-22 07:39:41,query_result_0,12,android,316
39354,9881688,2022-09-15 14:57:40,2022-09-23 16:37:03,query_result_0,12,android,233
39435,9900516,2022-08-31 11:30:37,2022-08-31 11:45:54,query_result_0,12,android,475
39450,9900516,2022-09-11 14:32:28,2022-09-11 15:46:49,query_result_0,12,android,475
39464,9900516,2022-09-20 19:53:10,2022-09-20 20:30:37,query_result_0,12,android,475
39599,9917864,2022-09-22 23:14:57,2022-10-08 07:14:13,query_result_0,12,android,310
39738,9951086,2022-09-03 18:50:22,2022-09-05 13:36:54,query_result_0,12,android,82
39774,9960355,2022-09-18 15:22:07,2022-09-18 16:36:19,query_result_0,12,android,316
39805,9963639,2022-09-18 19:42:22,2022-09-18 20:56:13,query_result_0,12,android,82
39810,9963639,2022-09-23 08:55:34,2022-09-23 10:09:00,query_result_0,12,android,82

In [86]:
bdf=pd.read_csv('/content/drive/MyDrive/Bluetick.ai/device_details.csv')

In [87]:
bdf

,device_id,name,screen_size,os_version,ram,battery,chipset
0,408,Xiaomi Mi 10T Lite 5G,"6.67""",Android 10,6 GB RAM,4820 mAh Li-Po,Qualcomm SM7225 Snapdragon 750G 5G (8 nm)
1,229,Oppo Find X2 Neo,"6.5""",Android 10,12 GB RAM,4025 mAh Li-Po,Qualcomm SM7250 Snapdragon 765G 5G (7 nm)
2,452,Infinix Zero 5,"5.98""",Android 7.0,6 GB RAM,4350 mAh Li-Ion,Qualcomm SDM730 Snapdragon 730 (8 nm)
3,371,Xiaomi Black Shark 4S,"6.67""",Android 11,8/12 GB RAM,4500 mAh Li-Po,Qualcomm SM8250-AC Snapdragon 870 5G (7 nm)
4,59,Infinix Zero 5G,"6.78""",Android 11,8 GB RAM,5000 mAh Li-Po,Qualcomm SM8150 Snapdragon 855+ (7 nm)
...,...,...,...,...,...,...,...
448,44,Asus ROG Phone 5s Pro,"6.78""",Android 11,18 GB RAM,6000 mAh Li-Po,Qualcomm SM8350 Snapdragon 888+ 5G (5 nm)
449,323,vivo Y33,"6.58""",Android 11,4 GB RAM,5000 mAh Li-Po,Mediatek MT6769V/CU Helio G80 (12 nm)
450,399,Samsung Galaxy A20e,"5.8""",Android 9.0,3 GB RAM,3000 mAh Li-Po,Exynos 7884 (14 nm)
451,277,Infinix Note 11s,"6.95""",Android 11,4/6 GB RAM,5000 mAh Li-Po,Qualcomm SM8150 Snapdragon 855 (7 nm)
452,421,Oppo Reno8 4G,"6.43""",Android 12,8 GB RAM,4500 mAh Li-Po,Qualcomm SM6225 Snapdragon 680 4G (6 nm)

In [88]:
#Joining the device details dataset with android_versinon_12 dataset using inner join
join_df=pd.merge(version_12, bdf, on='device_id', how='inner')
join_df

,user_id,session_start,session_end,event_name,os_version_x,os,device_id,name,screen_size,os_version_y,ram,battery,chipset
0,21504,2022-09-13 12:39:19,2022-09-13 13:52:37,query_result_0,12,android,456,Xiaomi Poco M4 5G (India),"6.58""",Android 12,4/6 GB RAM,5000 mAh Li-Po,Mediatek MT6833 Dimensity 700 (7 nm)
1,205925,2022-09-06 14:02:59,2022-09-06 15:15:41,query_result_0,12,android,456,Xiaomi Poco M4 5G (India),"6.58""",Android 12,4/6 GB RAM,5000 mAh Li-Po,Mediatek MT6833 Dimensity 700 (7 nm)
2,358952,2022-09-16 14:03:53,2022-09-03 10:25:25,query_result_0,12,android,456,Xiaomi Poco M4 5G (India),"6.58""",Android 12,4/6 GB RAM,5000 mAh Li-Po,Mediatek MT6833 Dimensity 700 (7 nm)
3,6804569,2022-09-01 08:50:08,2022-09-01 10:03:09,query_result_0,12,android,456,Xiaomi Poco M4 5G (India),"6.58""",Android 12,4/6 GB RAM,5000 mAh Li-Po,Mediatek MT6833 Dimensity 700 (7 nm)
4,6804569,2022-09-20 07:10:21,2022-09-20 08:24:18,query_result_0,12,android,456,Xiaomi Poco M4 5G (India),"6.58""",Android 12,4/6 GB RAM,5000 mAh Li-Po,Mediatek MT6833 Dimensity 700 (7 nm)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,8084792,2022-09-13 06:42:36,2022-09-13 08:00:47,query_result_0,12,android,82,Infinix Smart 6 Plus,"6.82""",Android 12,2/3 GB RAM,5000 mAh Li-Po,Mediatek MT6893 Dimensity 1200 (6 nm)
235,8786559,2022-09-18 08:49:43,2022-09-18 10:03:59,query_result_0,12,android,82,Infinix Smart 6 Plus,"6.82""",Android 12,2/3 GB RAM,5000 mAh Li-Po,Mediatek MT6893 Dimensity 1200 (6 nm)
236,9951086,2022-09-03 18:50:22,2022-09-05 13:36:54,query_result_0,12,android,82,Infinix Smart 6 Plus,"6.82""",Android 12,2/3 GB RAM,5000 mAh Li-Po,Mediatek MT6893 Dimensity 1200 (6 nm)
237,9963639,2022-09-18 19:42:22,2022-09-18 20:56:13,query_result_0,12,android,82,Infinix Smart 6 Plus,"6.82""",Android 12,2/3 GB RAM,5000 mAh Li-Po,Mediatek MT6893 Dimensity 1200 (6 nm)
238,9963639,2022-09-23 08:55:34,2022-09-23 10:09:00,query_result_0,12,android,82,Infinix Smart 6 Plus,"6.82""",Android 12,2/3 GB RAM,5000 mAh Li-Po,Mediatek MT6893 Dimensity 1200 (6 nm)

In [89]:
#Counting the number occurence of the device
device_name=join_df.groupby('name').count()
device_name

,user_id,session_start,session_end,event_name,os_version_x,os,device_id,screen_size,os_version_y,ram,battery,chipset
name,,,,,,,,,,,,
Google Pixel 3a XL,5,5,5,5,5,5,5,5,5,5,5,5
Infinix Smart 6 Plus,7,7,7,7,7,7,7,7,7,7,7,7
OnePlus Ace,6,6,6,6,6,6,6,6,6,6,6,6
OnePlus Ace Racing,11,11,11,11,11,11,11,11,11,11,11,11
OnePlus Nord 2T,9,9,9,9,9,9,9,9,9,9,9,9
Oppo A73 5G,13,13,13,13,13,13,13,13,13,13,13,13
Oppo A77,4,4,4,4,4,4,4,4,4,4,4,4
Oppo F19 Pro+ 5G,12,12,12,12,12,12,12,12,12,12,12,12
Oppo K10 5G,15,15,15,15,15,15,15,15,15,15,15,15
Oppo Reno6 5G,10,10,10,10,10,10,10,10,10,10,10,10
Oppo Reno8,16,16,16,16,16,16,16,16,16,16,16,16
Samsung Galaxy M13 5G,17,17,17,17,17,17,17,17,17,17,17,17
Samsung Galaxy M53,8,8,8,8,8,8,8,8,8,8,8,8
Xiaomi 11i,7,7,7,7,7,7,7,7,7,7,7,7
Xiaomi 11i HyperCharge 5G,11,11,11,11,11,11,11,11,11,11,11,11
Xiaomi Poco M4 5G (India),7,7,7,7,7,7,7,7,7,7,7,7
Xiaomi Poco M4 Pro 5G,5,5,5,5,5,5,5,5,5,5,5,5
Xiaomi Redmi Note 11T Pro,6,6,6,6,6,6,6,6,6,6,6,6
Xiaomi Redmi Note 11T Pro+,8,8,8,8,8,8,8,8,8,8,8,8
vivo T2x,6,6,6,6,6,6,6,6,6,6,6,6
vivo Y30 5G,6,6,6,6,6,6,6,6,6,6,6,6
vivo Y77,10,10,10,10,10,10,10,10,10,10,10,10
vivo Y77 (China),13,13,13,13,13,13,13,13,13,13,13,13
vivo Y77e,27,27,27,27,27,27,27,27,27,27,27,27

In [90]:
#Rearranging the order in decending
device_name=device_name.sort_values(by='os', ascending=False)
device_name

,user_id,session_start,session_end,event_name,os_version_x,os,device_id,screen_size,os_version_y,ram,battery,chipset
name,,,,,,,,,,,,
vivo Y77e,27,27,27,27,27,27,27,27,27,27,27,27
Samsung Galaxy M13 5G,17,17,17,17,17,17,17,17,17,17,17,17
Oppo Reno8,16,16,16,16,16,16,16,16,16,16,16,16
Oppo K10 5G,15,15,15,15,15,15,15,15,15,15,15,15
vivo Y77 (China),13,13,13,13,13,13,13,13,13,13,13,13
Oppo A73 5G,13,13,13,13,13,13,13,13,13,13,13,13
Oppo F19 Pro+ 5G,12,12,12,12,12,12,12,12,12,12,12,12
Xiaomi 11i HyperCharge 5G,11,11,11,11,11,11,11,11,11,11,11,11
OnePlus Ace Racing,11,11,11,11,11,11,11,11,11,11,11,11
vivo Y77,10,10,10,10,10,10,10,10,10,10,10,10
Oppo Reno6 5G,10,10,10,10,10,10,10,10,10,10,10,10
OnePlus Nord 2T,9,9,9,9,9,9,9,9,9,9,9,9
Xiaomi Redmi Note 11T Pro+,8,8,8,8,8,8,8,8,8,8,8,8
Samsung Galaxy M53,8,8,8,8,8,8,8,8,8,8,8,8
Xiaomi 11i,7,7,7,7,7,7,7,7,7,7,7,7
Xiaomi Poco M4 5G (India),7,7,7,7,7,7,7,7,7,7,7,7
Infinix Smart 6 Plus,7,7,7,7,7,7,7,7,7,7,7,7
Xiaomi Redmi Note 11T Pro,6,6,6,6,6,6,6,6,6,6,6,6
vivo T2x,6,6,6,6,6,6,6,6,6,6,6,6
vivo Y30 5G,6,6,6,6,6,6,6,6,6,6,6,6
OnePlus Ace,6,6,6,6,6,6,6,6,6,6,6,6
Xiaomi Poco M4 Pro 5G,5,5,5,5,5,5,5,5,5,5,5,5
Google Pixel 3a XL,5,5,5,5,5,5,5,5,5,5,5,5
Oppo A77,4,4,4,4,4,4,4,4,4,4,4,4

In [91]:
#top 5 devices showing fault in search button
device_name.head()

,user_id,session_start,session_end,event_name,os_version_x,os,device_id,screen_size,os_version_y,ram,battery,chipset
name,,,,,,,,,,,,
vivo Y77e,27,27,27,27,27,27,27,27,27,27,27,27
Samsung Galaxy M13 5G,17,17,17,17,17,17,17,17,17,17,17,17
Oppo Reno8,16,16,16,16,16,16,16,16,16,16,16,16
Oppo K10 5G,15,15,15,15,15,15,15,15,15,15,15,15
vivo Y77 (China),13,13,13,13,13,13,13,13,13,13,13,13

In [92]:
#Which chipsets are mainly showing the error most
dev=join_df.groupby('chipset').count()
dev=dev.sort_values(by='name', ascending=False)
dev.head()

,user_id,session_start,session_end,event_name,os_version_x,os,device_id,name,screen_size,os_version_y,ram,battery
chipset,,,,,,,,,,,,
Mediatek MT6833P Dimensity 810 (6 nm),66,66,66,66,66,66,66,66,66,66,66,66
Mediatek Dimensity 1300 (6 nm),31,31,31,31,31,31,31,31,31,31,31,31
Mediatek MT6833 Dimensity 700 (7 nm),30,30,30,30,30,30,30,30,30,30,30,30
Mediatek Dimensity 920 (6 nm),18,18,18,18,18,18,18,18,18,18,18,18
Mediatek MT6877 Dimensity 900 (6 nm),18,18,18,18,18,18,18,18,18,18,18,18